[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch-cpu"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "pytorch-cu113"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = false
name = "pytorch-cu116"

[packages]
torch = {version = "*", index = "pytorch-cu116"}
torchvision = {version = "*", index = "pytorch-cu116"}
pytorch-lightning = "*"
path = "*"
h5py = "*"
seaborn = "*"
matplotlib = "*"
hydra-core = "*"

[dev-packages]
tensorguard = "*"

[requires]
python_version = "3.9"

[scripts]
train-gpu = 'python factor_vae/train.py accelerator=gpu devices=1'
train-cpu = 'python factor_vae/train.py accelerator=cpu'
clean-empty-runs = """python -c '
from path import Path
for run in Path("saved_models").dirs():
    if not run.joinpath("best.ckpt").exists():
        print(f"Removing {run}")
        run.rmtree()
'"""
compress-runs = "tar cfz saved_models.tar.gz saved_models/"
tensorboard = "tensorboard --logdir saved_models/"